html{
    height:100%;
    }

body {
      height: 100%;
      position:relative;
	  font-family: "Open Sans",sans-serif;
	  font-size: 12px!important;
}

.main-body {
	font-size: 12px!important;
}

.header-nav-bar-padding{
	padding-right: 0px;padding-left: 0px;
}

.filter-panel {
    margin-top: 20px;
}


.card-no-border{
border: 0px solid rgba(0,0,0,.125) !important;
}

.card-no-round-border{
 border-radius: 0rem !important;
}
.card-bgcolor{
	background-color: rgba(0,0,0,.03)
}
.card-cus-ht{
	height: 89px;
}
.card-title-gap{
	margin-bottom: 0.25rem;
	font-size: 18px !important;
	font-weight: bold;
}

.card-title-gapp{
	margin-bottom: 0.25rem;
	font-size: 16px !important;
	font-weight: bold;
}

.card-title-ht{
	height: 80px !important;
	padding-left: 0px !important;
}
.card-text-cus{
	color: #6c757d!important;
	font-size: 12px !important;
	font-weight:900;
	margin-top: -2px !important;
}

.small-fontsize{
	font-size: 12px;
}

.chart-header {
	font-weight:bold;font-size: 14px;
}


/**Circular Progress bar charts**/
 .progress-bar {
  position: relative;
  height: 100px;
  width: 100px;
  background-color:white;
  color:#000;
}

.progress-bar div {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.progress-bar div span {
  position: absolute;
  font-family: Arial;
  font-size: 25px;
  line-height: 75px;
  height: 75px;
  width: 75px;
  left: 12.5px;
  top: 12.5px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
}

.progress-bar .background { background-color: #b3cef6; }

.progress-bar .rotate {
  clip: rect(0 50px 100px 0);
  background-color: #4b86db;
}

.progress-bar .left {
  clip: rect(0 50px 100px 0);
  opacity: 1;
  background-color: #b3cef6;
}

.progress-bar .right {
  clip: rect(0 50px 100px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: #4b86db;
}

@keyframes
toggle {  0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}